In [1]:
import pandas as pd

In [2]:
twitter_file = pd.read_csv("https://uom-twitter-sentiment-analysis.s3.us-east-2.amazonaws.com/training.1600000.processed.noemoticon.csv",  encoding='latin-1', header = None)
twitter_file = twitter_file.drop(twitter_file.iloc[:, 1:5],axis = 1)
twitter_file

         0                                                  5
0        0  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1        0  is upset that he can't update his Facebook by ...
2        0  @Kenichan I dived many times for the ball. Man...
3        0    my whole body feels itchy and like its on fire
4        0  @nationwideclass no, it's not behaving at all....
...     ..                                                ...
1599995  4  Just woke up. Having no school is the best fee...
1599996  4  TheWDB.com - Very cool to hear old Walt interv...
1599997  4  Are you ready for your MoJo Makeover? Ask me f...
1599998  4  Happy 38th Birthday to my boo of alll time!!! ...
1599999  4  happy #charitytuesday @theNSPCC @SparksCharity...

[1600000 rows x 2 columns]

In [3]:
twitter_file = twitter_file.rename(columns = {0: "target", 5:"text"})
twitter_file = twitter_file.replace([4], 1)
twitter_file

         target                                               text
0             0  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1             0  is upset that he can't update his Facebook by ...
2             0  @Kenichan I dived many times for the ball. Man...
3             0    my whole body feels itchy and like its on fire
4             0  @nationwideclass no, it's not behaving at all....
...         ...                                                ...
1599995       1  Just woke up. Having no school is the best fee...
1599996       1  TheWDB.com - Very cool to hear old Walt interv...
1599997       1  Are you ready for your MoJo Makeover? Ask me f...
1599998       1  Happy 38th Birthday to my boo of alll time!!! ...
1599999       1  happy #charitytuesday @theNSPCC @SparksCharity...

[1600000 rows x 2 columns]

In [4]:
twitter_file.text.str.contains('http')
twitter_file['text'] = twitter_file['text'].str.replace(r'http\S+', '')
twitter_file.text.str.contains('@')
twitter_file['text'] = twitter_file['text'].str.replace(r'@\S+', '')

C:\Users\Nhan Tran\AppData\Local\Temp\ipykernel_15196\1704752256.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  twitter_file['text'] = twitter_file['text'].str.replace(r'http\S+', '')
C:\Users\Nhan Tran\AppData\Local\Temp\ipykernel_15196\1704752256.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  twitter_file['text'] = twitter_file['text'].str.replace(r'@\S+', '')

In [5]:
twitter_file.text.str.contains("http").value_counts()

False    1599984
True          16
Name: text, dtype: int64

In [6]:
from sklearn.utils import shuffle
twitter_file = shuffle(twitter_file, random_state = 42)

In [8]:
twitter_file = twitter_file.reset_index(drop=True)
twitter_file

         target                                               text
0             0                            AHHH I HOPE YOUR OK!!!
1             0         cool , i have no tweet apps  for my razr 2
2             0   i know  just family drama. its lame.hey next ...
3             0  School email won't open  and I have geography ...
4             0                             upper airways problem
...         ...                                                ...
1599995       0  this song's middle change just doesn't want to...
1599996       1                               Good luck with that
1599997       0                            I rather average 32370
1599998       0  Pickin up  waitin on  2 hurry up...I odeeee mi...
1599999       0  @ home studying for maths wooot ! im so going ...

[1600000 rows x 2 columns]